
    
.div
    height: 2EM
.title
    height: 8EM
    display: flex
    justify-content: center
    text-align: center
    flex-direction: column
    align-items: center
    color: #3983ed
    gap: 0.7EM
    
.title h6
    font-size: smalL
    background-color: #3984ed24
    width:14EM
    height: 2EM
    border-radius: 30PX
    padding-top: 0.4EM
    font-weight: 700

.title h3 
    font-weight: 700
.TR
    color: BLACK

    
    
    
    
    
    
    
.fef
    border: solid 0PX
    height: 14em
    width: 14EM
    border-radius: 10px
    box-shadow: #95959539 0 0 10PX
   
   
    padding: 1.5EM
    padding-right: 1EM
.fef p
    font-size: small
    color: #676565
.fef img
    padding-bottom: 1EM
    
.ct 
    height: 17EM
    display: flex 
    gap: 1.5em
    margin-left: 2EM

    