
    
.div
    height: 2EM
.title
    height: 8EM
    display: flex
    justify-content: center
    text-align: center
    flex-direction: column
    align-items: center
    color: #3983ed
    gap: 0.7EM
    
.title h6
    font-size: smalL
    background-color: #3984ed24
    width:14EM
    height: 2EM
    border-radius: 30PX
    padding-top: 0.4EM
    font-weight: 700

.title h3 
    font-weight: 700
.TR
    color: BLACK  
    
.ct1
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 1.5rem
   
.ct1 .card
    border: solid 0px
    box-shadow: 0 0 20PX #abc7dc59
    padding: 0.2rem
    margin-bottom: 4vh
    height: 22VH
    width: 14.5rem


@media  (max-width: 425px  )
    main
        margin-right: -47.5rem
@media  (max-width: 375px  )  
    main
        margin-right: -47.5rem
    .ct1
        display: flex
        flex-direction: column
        align-items: center
    .ct1 .card 
        width: 50rem
        text-align: center
        height: 30em
    .ct1 .card h5 
        font-size: 2em
    .ct1 .card p 
        font-size: 2em  
    .ccc
        display: flex
    .ct1 .card img
        margin-top: 5em