
.nav .justify-content-center a
    color: black 
.nav .justify-content-center a:hover

    color: black
.nav
    height: 5EM
    display: flex

    justify-content: end
    align-items: center
.nav-link2
    font-weight: 600
    margin-left: -16.4EM
    font-size: 2EM
    text-decoration: none
K 
    color: #3983ed
ul
    margin-right: 17.5EM