
.nav .justify-content-center a
    color: black 
.nav .justify-content-center a:hover

    color: black
.nav
    height: 5EM
    display: flex

    justify-content: end
    align-items: center
.nav-link2
    
    margin-left:  -15EM
    font-size: 2EM
    text-decoration: none
K 
    color: blue
ul
    margin-right: 20EM