.carousel
    text-align: center
    color: white 
    
    font-size: small
    top: 12em
    z-index: 3

.testi
    height: 50EM
    
    margin-top: -9EM
    .carousel-item
        height: 34.5EM
        filter: brightness(.3)
        #im
            width: 81%
            
